.cards{

    &__feature-main{
        width: 100%;
        display: flex;
        gap: 1rem;
    }

    &__feature-first{
        width: 50%;
        border: 1px solid black;
    }

    &__feature-second{
        width: 50%;
        border: 1px solid black;
    }

    &____course-heading{
        font-size: 1rem;
        font-weight: 400;
        line-height: 1rem;
    }

    &__course-section{
        width: 100%;
        display: flex;
        gap: 1rem;
    }
    &__modifier{
        flex-grow: 1;
        border: 1px solid black;
    }
}